.gallery {
    display: flex;
    margin: 0;
}
.image {
    padding: 0;
    width: 198px;
    height: 198px;
    margin: 16px;
    border: 1px dotted grey;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}