* {
    box-sizing: border-box;
}
.table {
    width: 500px;
    margin: 16px;    
}
table,
tfoot,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}
tr,
td,
th {
    padding: 4px;
    text-align: right;
}





