.header {
    
    margin: 0 auto;
    font-size: 74px;
    width: 50%;    
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis;
}
.centr {
    margin: 0;
    height: 200px;
    background: coral;
    text-align: center;
    color: white;
    line-height: 200px;
    vertical-align: middle;
    text-transform: uppercase;
}

html {
    margin: 0;
    font-family: Verdana;
}

    

