* {
  box-sizing: border-box;
}
.articles {
  display: flex;
}
div > div {
  height: 100px;
  width: 150px;
  background: beige;
  margin: 16px;
}
div.cropped {
  overflow: hidden;
}
div.both-scrolls {
  overflow: scroll;
  cursor: all-scroll;
}
div.vertical-scroll {
  overflow: auto;
  cursor: all-scroll;
}
