 * {
      box-sizing: border-box;
    }
    .text {
      margin: 16px;
      border-bottom: 1px dotted black;
      display: inline-block;
      cursor: pointer;
      position: relative;
    }
    .text:hover .tooltip {
      display: block;
    }
    .tooltip {
    
      position: absolute;
      border: none;
      cursor: pointer;
      display: block;
      background: grey;
      color: white;
      border: 4px;
      padding: 8px;
      bottom: -40px;
    }